.mainProfile {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #808080;
    font-style: italic;
    font-size: 18px;
    align-items: center;
  }
  .welcome {
    margin-left: 30px;
    flex-basis: 75%;
  }
  .profile {
    font-size: 15px;
    flex-basis: 25%;
    background-color: #d4c181;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .profile a {
    text-decoration: none;
  }
  /* .container1 {
    border: 1px solid red;
  } */
  .mainContainer {
    /* border: 2px solid black; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    margin-top: 2rem;
    
  }
  .Space{
    margin-right: 2.8rem;
  }
  .Space1 {
    margin-right: 0.5rem;
  }
  .txtarea{
    margin-left: 4rem;
  }
  .editors{
    margin-left: 4rem;
  }
  .stacks{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btnSend{
    margin-left: 4rem;
    margin-top: -4rem;
  }
  .log1{
    margin-left: 4rem;
  }
 