.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 22rem;
    border-radius: 6px;
    background-color: #86bce8;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
  }
        
  .auth h1 {
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: white;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: #f1e1fc;
    color: #38015c;
    border-radius: 4px;
    border: 1px solid white;
    width: 80%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #3d54c4;
    border: 1px solid #34273d;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
	