.mainProfile1 {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #808080;
    font-style: italic;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
  }
  .welcome1 {
    margin-left: 30px;
    flex-basis: 75%;
  }
  .profile1 {
    font-size: 15px;
    flex-basis: 25%;
    background-color: #d4c181;
    border-radius: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .profile1 a {
    text-decoration: none;
  }
  /* .container1 {
    border: 1px solid red;
  } */
  .mainContainer1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    margin: auto;
    width: 96%;
    padding: 2rem;
    margin-top: 1rem;
    
  }
  .Space1{
    margin-right: 2.8rem;
  }
  .Space1 {
    margin-right: 0.5rem;
  }
  .txtarea1{
    margin-left: 4rem;
  }
  .editors1{
    margin-left: 4rem;
  }
  .stacks1{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btnSend1{
    margin-left: 4rem;
    margin-top: -4rem;
  }
  .log{
    margin-right: 2rem;
  }
  .email1 {
    color: green;
  }
  .compose{
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
  }
  .inboxCon {
    width: 100%;
    border: 1px solid black;
    margin-top: 1.5rem;
}
.inb:hover {
  background-color: lightgreen;
  color: yellow;
}